$color-primary-dark3: #490012;
$color-primary-dark2: #910024;
$color-primary-dark1: #DA0037;
$color-primary-base: #FF245B;
$color-primary-light1: #FF5B84;
$color-primary-light2: #FF91AD;
$color-primary-light3: #FFC8D6;

$color-secondary-dark3: #002A29;
$color-secondary-dark2: #005453;
$color-secondary-dark1: #007E7C;
$color-secondary-base: #00A8A5;
$color-secondary-light1: #00FEF9;
$color-secondary-light2: #54FFFC;
$color-secondary-light3: #AAFFFE;

$color-tertiary-dark3: #3B3C00;
$color-tertiary-dark2: #767800;
$color-tertiary-dark1: #B1B400;
$color-tertiary-base: #ECF000;
$color-tertiary-light1: #FCFF34;
$color-tertiary-light2: #FDFF78;
$color-tertiary-light3: #FEFFBB;

$color-neutral-dark3: #202020;
$color-neutral-dark2: #404040;
$color-neutral-dark1: #606060;
$color-neutral-base: #808080;
$color-neutral-light1: #9F9F9F;
$color-neutral-light2: #BFBFBF;
$color-neutral-light3: #DFDFDF;

$black: #000000;
$white: #FFFFFF;

$base: 6px;

* {
  box-sizing: border-box;
}
